<a href="https://colab.research.google.com/github/seungukkim/R_lecture/blob/main/day0627.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
title:"Python 기초문법"
date:'2022-06-27'
---

-Hello World

In [1]:
print("Hello World")

Hello World

##주석 처리
-1줄 주석

-여러 줄 주석 처리

*   함수 또는 클래스를 문서화 할 때 주로 사용

-프로젝트 할 때 
*   전체 공정 100
*   코드 / 코드 문서화/ 한글작업 문서화

In [3]:
#print() 함수 사용
# print("1줄 주석")
"""
print("hello")
"""
print("hello")

hello

## 변수
-자료형

-스칼라형,non스칼라형

## 수치형 자료형
- int,float

In [4]:
num_int =1
print(num_int)
print(type(num_int))

1
<class 'int'>

In [5]:
num_float=0.1
print(num_float)
print(type(num_float))

0.1
<class 'float'>

### Bool형
-True,False

-R: TRUE,FALSE

In [6]:
bool_true =True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

### None 자료형
-Null값, 값이 정해지지 않은 자료형

In [8]:
none_x=None
print(none_x)
print(type(none_x))

None
<class 'NoneType'>

## 사칙연산
정수형 사칙연산, 실수형 사칙연산

*   정수형 사칙연산, 실수형 사칙연산
*   결과값의 자료형
*   +,-,*,/
*

In [11]:
a=3
b=2
print('a + b = ',a+b)
print('a - b = ',a-b)
print('a * b = ',a*b)
print('a / b = ',a/b)

a + b =  5
a - b =  1
a * b =  6
a / b =  1.5

In [12]:
a=1.5
b=2.5
print('a + b = ',a+b)
print('a - b = ',a-b)
print('a * b = ',a*b)
print('a / b = ',a/b)

a + b =  4.0
a - b =  -1.0
a * b =  3.75
a / b =  0.6

##논리형 연산자

*   Bool형
*   True와 False 값으로 정의
*   조건식
> *교집합(and), 합집합(or)

In [13]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
False
False
False
True
True
True
False

##비교 연산자
- 비교 연산자는 부등호를 의미한다.

In [16]:
print(4>3)
print(4<3)
a=4>3
print(a)
print(4>3 and 3>4)

True
False
True
False

## 논리형 &비교 연산자 응용
- input()
- 형변환
- 데이터 타입을 바꾸는 것

In [19]:
var=int (input("숫자를 입력하세요"))
print(var)
print(type(var))

숫자를 입력하세요1
1
<class 'int'>

In [21]:
num1= int(input("첫번째 숫자를 입력하세요"))
num2= int(input("두번째 숫자를 입력하세요"))
num3= int(input("세번째 숫자를 입력하세요"))
num4= int(input("네번째 숫자를 입력하세요"))

첫번째 숫자를 입력하세요100
두번째 숫자를 입력하세요200
세번째 숫자를 입력하세요12
네번째 숫자를 입력하세요150

In [22]:
var1=num1>=num2
var2=num3<num4

In [23]:
print(var1 and  var2)

False

##Stirng
- Non Scalar

In [26]:
print('Hello World')
print("Hello World")
print('"Hello World"')
print("'Hello World'")

Hello World
Hello World
"Hello World"

### String Operators
- 문자열 연산자
- +,* 가능

In [29]:
str1="Hello "
str2="World"
print(str1 + str2)

Hello World

In [30]:
greet = str1 + str2
print(greet *2)

Hello WorldHello World

In [32]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [34]:
head ="Python"
tail=" is fun!"
head+tail

'Python is fun!'

In [35]:
a="Life is too short, You need Python"
a[0:4]

'Life'

In [41]:
a="20220627Rainy"
date=a[:8]
weather= a[8:]
date
weather

'Rainy'

In [42]:
number=3
"I eat {} apples".format(number)

'I eat 3 apples'

In [44]:
nubmer=10
day="three "

"I ate {} apples. So I was sick for {}days".format(number,day)

'I ate 3 apples. So I was sick for three dyas'

In [45]:
"I ate {0} apples. so I was sick for {day} days". format(10,day=3)

'I ate 10 apples. so I was sick for 3 days'

##문자 개수 세기

In [46]:
a="hobby"
a.count('b')

2

## 위치 알려주기

In [47]:
a="Life is too short"
a.index('t')

8

## , 삽입하기

In [48]:
",".join('abcd')

'a,b,c,d'

In [49]:
a="Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

In [51]:
a=[1,2,3,['a','b','c']]
a[0]
a[3]
a[3][0]

'a'

In [52]:
a=[1,2,3]
b=[4,5,6]

a+b

[1, 2, 3, 4, 5, 6]

In [53]:
a=[1,2,3]
len(a)

3

In [55]:
a=[1,2,3,4,5]
del a[2:]
a

[1, 2]

In [56]:
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [57]:
a=[1,2,3]
a.append([5,6])
a

[1, 2, 3, [5, 6]]

In [58]:
a=[1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [61]:
t1=(1,2,'a','b')
t1[0]
t1[3]

'b'

In [62]:
t1=(1,2,'a','b')
t2=(3,4)
t1+t2

(1, 2, 'a', 'b', 3, 4)

In [64]:
a={'name':'김승욱','phone':'01096270326','birth':'0323'}
a.get('name')
a.get('phone')

'01096270326'

In [65]:
s1=set([1,2,3])
s1

{1, 2, 3}

In [66]:
s2=set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [67]:
s1=set([1,2,3])
l1=list(s1)
l1

[1, 2, 3]

In [68]:
a=[1,2,3]
id(a)

140084781446080

##Q1

In [71]:
a=80
b=75
c=55
add=80+75+55
mean=add/3
mean

70.0

##Q2

In [72]:
a=13
if(a%2==0):
  print("짝수다")
else:
  print("홀수다")

홀수다

##Q3

In [74]:
a="881120-1068234"
print("19"+a[:2])
print(a[2:6])

1988
1120

##Q4

In [93]:
a="a:b:c:d"
a.replace(":","#")

'a#b#c#d'

##Q5

In [80]:
pin="881120-1068234"

if(pin[7]=='1'):
  print("남자다")
else:
  print("여자다")

남자다

##Q6

In [83]:
a=[1,3,5,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

##Q7

In [88]:
a=['Life', 'is', 'too','short']
" ".join(a)

'Life is too short'

##Q8

In [91]:
a=[1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

##슬라이싱

In [96]:
greeting="Hello Kaggle"
print(greeting[:5])

Hello

##Q9

In [107]:
a=dict()
b=dict()
c=dict()
d=dict()

In [109]:
a['name']='python'
a

{'name': 'python'}

In [111]:
b[('b,')]='python'
b

{'b,': 'python'}

In [113]:
d[250]='python'
d

{250: 'python'}

##Q10

In [118]:
a={'A':90, 'B':80,'C':70}
a
a['B']

80

##Q11

In [121]:
a=[1,1,1,2,2,3,3,3,4,4,5]
a1=set(a)
a2=list(a1)
a2

[1, 2, 3, 4, 5]

##Q12

In [122]:
a=b=[1,2,3]
a[1]=4
print(b)

[1, 4, 3]

In [124]:
from copy import copy
a=[1,2,3]
b=copy(a)
a[1]=4
b

[1, 2, 3]

## if문

In [125]:
pocket = ['paper','cellphone', 'money']
if 'money' in pocket:
  print("택시 타라")
else:
  print("걸어가라")

택시 타라

## if elif else

In [127]:
pocket=['paper','cellphone']
card=bool_true
if 'money' in pocket:
  print("택시 타라")
elif card:
  print(" 택시 타라")
else:
  print("걸어가라")

 택시 타라

##while

In [128]:
treehit=0
while treehit < 10:
  treehit= treehit +1
  print("나무를 %d 번 찍었습니다."%treehit)
  if treehit ==10:
    print("나무가 넘어간다")

나무를 1 번 찍었습니다.
나무를 2 번 찍었습니다.
나무를 3 번 찍었습니다.
나무를 4 번 찍었습니다.
나무를 5 번 찍었습니다.
나무를 6 번 찍었습니다.
나무를 7 번 찍었습니다.
나무를 8 번 찍었습니다.
나무를 9 번 찍었습니다.
나무를 10 번 찍었습니다.
나무가 넘어간다

In [129]:
prompt="""
  1. add
  2. del
  3. list
  4. quit

  enter number:"""

In [131]:
number=0
while number!=4:
  print(prompt)
  number = int(input())

  1. add
  2. del
  3. list
  4. quit

  enter number:
4

## While문 강제로 빠져나가기

In [132]:
coffee =10
while True:
  money = int(input("돈을 넣어라"))
  if money ==300:
    print("커피를 줍니다.")
    coffee = coffee -1
  elif money>300:
    print("거스름돈 %d를 주고 커피를 줍니다."%(money -300))
    coffee-=1
  else:
    print("안줘 ㅎ")

  if coffee==0:
    print("커피 없다 돌아가라")
    break

돈을 넣어라500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어라100
안줘 ㅎ
돈을 넣어라300
커피를 줍니다.
돈을 넣어라300
커피를 줍니다.
돈을 넣어라300
커피를 줍니다.
돈을 넣어라300
커피를 줍니다.
돈을 넣어라300
커피를 줍니다.
돈을 넣어라300
커피를 줍니다.
돈을 넣어라540
거스름돈 240를 주고 커피를 줍니다.
돈을 넣어라320
거스름돈 20를 주고 커피를 줍니다.
돈을 넣어라532
거스름돈 232를 주고 커피를 줍니다.
커피 없다 돌아가라

In [137]:
a=[1,2,3,4,5]
rem = a.pop(1)
print(a)
print(rem)
rem=a.pop()
print(a)
print(rem)

[1, 3, 4, 5]
2
[1, 3, 4]
5

- clear(): 리스트 내 모든 값 삭제
- index("값") : 값의 위치를 불러옴

In [140]:
a=[1,2,3,4,5]
b=["철수","영희","길동"]
print(a.index(4))
print(b.index("길동"))

3
2

## while문의 맨 처음으로 돌아가기

In [146]:
a=0
b=100
while a<10:
  a=a+1
  if a%2==0:
    continue
  print(a)
  print(b)

1
100
3
100
5
100
7
100
9
100

In [148]:
a=0
b=100
while a<10:
  a=a+1
  if a%2==0:
    break;
  print(a)

1

In [150]:
test_list = ['one', 'two','three']
for i in test_list:
  print(i)

one
two
three

##튜플

In [151]:
tuple1=(0)
tuple2=(0,)
tuple3=0,1,2

print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [152]:
a=[(1,2),(3,4),(5,6)]
for(first,last) in a:
  print(first+last)

3
7
11

In [155]:
marks=[90,25,67,45,80]
number=0
for mark in marks:
  number+=1
  if mark>60:
    print("%d번째 학생은 합격이다" % number)
  else:
    print("넌 뭐했냐 %d번째야" % number)

1번째 학생은 합격이다
넌 뭐했냐 2번째야
3번째 학생은 합격이다
넌 뭐했냐 4번째야
5번째 학생은 합격이다

## for문과 continue

In [161]:
marks =[90,25,67,45,80]
number = 0
for mark in marks:
  number+=1
  if mark <60:
    continue
  print("%d 학생 합격입니다." %number)

1 학생 합격입니다.
3 학생 합격입니다.
5 학생 합격입니다.

In [176]:
temp_dict={
    'teacher':'evan',
    'class': 15,
    'student': ['s1','s2','s3']
}

print(temp_dict["teacher"])
print(temp_dict['class'])
print(temp_dict["student"])

evan
15
['s1', 's2', 's3']

In [178]:
list(temp_dict.keys())

['teacher', 'class', 'student']

- items() key -value 쌍으로, list와 tuple 형태로 변환

NameError: ignored

##for 문과 함께 자주 사용되는 range 함수

In [162]:
a = range(10)
a

range(0, 10)

In [164]:
a=range(1,11)
a

range(1, 11)

In [168]:
add=0
for i in range(1,11):
  add=add+i
print(add)

55

In [170]:
marks=[90,25,67,45,80]
for number in range(len(marks)):
  if marks[number]<60:
    continue
  print("%d번째 학생 축하하눙" % (number+1))

1번째 학생 축하하눙
3번째 학생 축하하눙
5번째 학생 축하하눙

## for 와 range 함수를 이용한 구구단

In [173]:
for i in range(2,10):
  for j in range(2,10):
    print(i * j, end=" ")
  print(" ")

4 6 8 10 12 14 16 18
6 9 12 15 18 21 24 27
8 12 16 20 24 28 32 36
10 15 20 25 30 35 40 45
12 18 24 30 36 42 48 54
14 21 28 35 42 49 56 63
16 24 32 40 48 56 64 72
18 27 36 45 54 63 72 81

In [174]:
a=[1,2,3,4]
result=[]
for num in a:
  result.append(num*3)
print(result)

[3, 6, 9, 12]

##Q1

In [180]:
a="Life is too short, you need python"

if "wife" in a:
  print("wife")
elif "python" in a and "you" not in a:
  print("python")
elif "shirt" not in a:
  print("shirt")
elif "need" in a:
  print("need")
else:
  print("nono")

shirt

## Q2
- while 문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해라

In [181]:
sum=0
for i in range(1,1000):
  if i%3==0:
    sum+=i
print(sum)

166833

Q3 while 문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보

In [203]:
for i in range(0,5):
  for j in range(0,5):
    if j<=i:
      print("*",end="")
  print(" ")

*
**
***
****
*****

##Q3-1
 7X7모양에서 다이아몬드 모양을 만들어봐라

In [224]:
for i in range(5):
  print(' '*(4-i)+'*'*(2*i-1))
for i in range(4):
  print(' '+' '*i+'*'*(5-2*i))

   *
  ***
 *****
*******
 *****
  ***
   *

##Q4 
- for 문을 사용해 1부터 100까지의 숫자를 출력해봐

In [183]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

##Q5
- A학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
[70,60,55,75,95,90,80,80,85,100]
for 문을 사용하여 A학급의 평균 점수를 구해

In [186]:
sum=0
a=[70,60,55,75,95,90,80,80,85,100]
for i in range(len(a)):
  sum+=a[i]
sum/len(a)

79.0

##Q6
리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 봐라

In [188]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n%2==1]
print(result)

[2, 6, 10]

In [209]:
a="Kaggle"
for x in a:
  if x=='g':
    break;
  print(x)

K
a

In [211]:
alphabets=['A','B','C']
for index, value in enumerate(alphabets):
  print(index,value)

0 A
1 B
2 C