<a href="https://colab.research.google.com/github/seungukkim/R_lecture/blob/main/day0629.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
import numpy as np
print("pandas version: ",pd.__version__)
print("numpy version:  ", np.__version__)

pandas version:  1.3.5
numpy version:   1.21.6

## 데이터 불러오기

- 구글 드라이브에 데이터 존재

In [107]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [108]:
DATA_PATH = ('/content/drive/MyDrive/Colab Notebooks/human_ai/Basic/Chapter 3. pandas/data/Lemonade2016.csv')
lemonade=pd.read_csv(DATA_PATH)
print(type(lemonade))
lemonade.info()

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Location     32 non-null     object
 2   Lemon        32 non-null     int64
 3   Orange       32 non-null     int64
 4   Temperature  32 non-null     int64
 5   Leaflets     31 non-null     float64
 6   Price        32 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.9+ KB

- 데이터 맛보기

In [45]:
print(lemonade.head())

       Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  7/1/2016     Park     97      67           70      90.0   0.25
1  7/2/2016     Park     98      67           72      90.0   0.25
2  7/3/2016     Park    110      77           71     104.0   0.25
3  7/4/2016    Beach    134      99           76      98.0   0.25
4  7/5/2016    Beach    159     118           78     135.0   0.25

In [53]:
print(lemonade.tail(10))

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
22  7/22/2016     Park    112      75           80     108.0   0.50
23  7/23/2016     Park    120      82           81     117.0   0.50
24  7/24/2016     Park    121      82           82     117.0   0.50
25  7/25/2016     Park    156     113           84     135.0   0.50
26  7/26/2016     Park    176     129           83     158.0   0.35
27  7/27/2016     Park    104      68           80      99.0   0.35
28  7/28/2016     Park     96      63           82      90.0   0.35
29  7/29/2016     Park    100      66           81      95.0   0.35
30  7/30/2016    Beach     88      57           82      81.0   0.35
31  7/31/2016    Beach     76      47           82      68.0   0.35

- 기술 통계랑 보는 함수
- describe()

In [52]:
print(lemonade.describe())

            Lemon      Orange  Temperature    Leaflets      Price
count   32.000000   32.000000    32.000000   31.000000  32.000000
mean   116.156250   80.000000    78.968750  108.548387   0.354688
std     25.823357   21.863211     4.067847   20.117718   0.113137
min     71.000000   42.000000    70.000000   68.000000   0.250000
25%     98.000000   66.750000    77.000000   90.000000   0.250000
50%    113.500000   76.500000    80.500000  108.000000   0.350000
75%    131.750000   95.000000    82.000000  124.000000   0.500000
max    176.000000  129.000000    84.000000  158.000000   0.500000

- 범주형 데이터 빈도수 구하기
value_counts() => 빈도수를 구하는 함수

In [132]:
lemonade['Location'].value_counts()

Beach    17
Park     15
Name: Location, dtype: int64

## 행과 열 다루기
- sold(판매량) 컬럼(feature)을 추가

In [133]:
lemonade['Sold'] = 0
print(lemonade.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0  7/1/2016     Park     97      67           70      90.0   0.25     0
1  7/2/2016     Park     98      67           72      90.0   0.25     0
2  7/3/2016     Park    110      77           71     104.0   0.25     0

   Revenue
0      0.0
1      0.0
2      0.0

- 추가한 칼럼에 값을 넣어보기

In [134]:
lemonade['Sold'] = lemonade['Lemon'] + lemonade['Orange']
print(lemonade.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187

   Revenue
0      0.0
1      0.0
2      0.0

- Revenue(매출) = 단가 X 판매량

In [135]:
lemonade['Revenue'] = 0
lemonade['Revenue'] = lemonade['Sold']*lemonade['Price']
print(lemonade.head(3))

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
0  7/1/2016     Park     97      67           70      90.0   0.25   164
1  7/2/2016     Park     98      67           72      90.0   0.25   165
2  7/3/2016     Park    110      77           71     104.0   0.25   187

   Revenue
0    41.00
1    41.25
2    46.75

## 필요한 정보만 뽑아올 때

In [130]:
print(lemonade[['Revenue','Price','Sold']].head())

   Revenue  Price  Sold
0      0.0   0.25     0
1      0.0   0.25     0
2      0.0   0.25     0
3      0.0   0.25     0
4      0.0   0.25     0

- drop() 함수 사용해서 열 제거 또는 행 제거 
- axis =1 =>columns
- axis =0 =>index

In [73]:
# 컬럼 제거
col_drop = lemonade.drop('Sold', axis=1)
print(col_drop.head())

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Revenue
0  7/1/2016     Park     97      67           70      90.0   0.25    41.00
1  7/2/2016     Park     98      67           72      90.0   0.25    41.25
2  7/3/2016     Park    110      77           71     104.0   0.25    46.75
3  7/4/2016    Beach    134      99           76      98.0   0.25    58.25
4  7/5/2016    Beach    159     118           78     135.0   0.25    69.25

In [75]:
# 행 제거
row_drop = lemonade.drop([0,1,2],axis=0)
print(row_drop.head())

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
3  7/4/2016    Beach    134      99           76      98.0   0.25   233
4  7/5/2016    Beach    159     118           78     135.0   0.25   277
5  7/6/2016    Beach    103      69           82      90.0   0.25   172
6  7/6/2016    Beach    103      69           82      90.0   0.25   172
7  7/7/2016    Beach    143     101           81     135.0   0.25   244

   Revenue
3    58.25
4    69.25
5    43.00
6    43.00
7    61.00

## 데이터 인덱싱

In [79]:
print(lemonade[4:7])

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  Sold  \
4  7/5/2016    Beach    159     118           78     135.0   0.25   277
5  7/6/2016    Beach    103      69           82      90.0   0.25   172
6  7/6/2016    Beach    103      69           82      90.0   0.25   172

   Revenue
4    69.25
5    43.00
6    43.00

- 특정 값만 추출
- filter

In [82]:
lemonade['Location']=='Beach'

0     False
1     False
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
31     True
Name: Location, dtype: bool

In [84]:
# 데이터[데이터 컬럼 == 특정값]
lemonade[lemonade['Location']=='Beach']

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,Sold,Revenue
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
6,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
8,NaN,Beach,123,86,82,113.0,0.25,209,52.25
9,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
10,7/10/2016,Beach,140,98,82,131.0,0.25,238,59.50
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
12,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
13,7/13/2016,Beach,109,75,77,99.0,0.25,184,46.00
14,7/14/2016,Beach,122,85,78,113.0,0.25,207,51.75
15,7/15/2016,Beach,98,62,75,108.0,0.50,160,80.00
16,7/16/2016,Beach,81,50,74,90.0,0.50,131,65.50
17,7/17/2016,Beach,115,76,77,126.0,0.50,191,95.50
30,7/30/2016,Beach,88,57,82,81.0,0.35,145,50.75
31,7/31/2016,Beach,76,47,82,68.0,0.35,123,43.05

         Date  Sold
5    7/6/2016   172
6    7/6/2016   172
7    7/7/2016   244
8         NaN   209
10  7/10/2016   238
11  7/11/2016   282
12  7/12/2016   225
18  7/18/2016   223
23  7/23/2016   202
24  7/24/2016   203
25  7/25/2016   269
26  7/26/2016   305
28  7/28/2016   159
29  7/29/2016   166
30  7/30/2016   145
31  7/31/2016   123

In [97]:

(lemonade['Temperature'] >= 80) & (lemonade['Orange'] >= 100)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25     True
26     True
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [112]:
lemonade.loc[lemonade['Temperature']>80,['Date','Sold']]

         Date  Sold
5    7/6/2016     0
6    7/6/2016     0
7    7/7/2016     0
8         NaN     0
10  7/10/2016     0
11  7/11/2016     0
12  7/12/2016     0
18  7/18/2016     0
23  7/23/2016     0
24  7/24/2016     0
25  7/25/2016     0
26  7/26/2016     0
28  7/28/2016     0
29  7/29/2016     0
30  7/30/2016     0
31  7/31/2016     0

In [ ]:
7

## loc vs iloc

- iloc
- 숫자만 들어감

In [115]:
print(lemonade.iloc[0:3,0:2])

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

- loc:숫자(X)
  + 라벨= 글자(숫자,문자 동시)

In [120]:
print(lemonade.loc[0:2,['Date','Location']])

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

## 데이터 정렬
- sort values()

In [139]:
lemonade.head()
print(lemonade[['Date', 'Temperature', 'Revenue']].sort_values(by=['Revenue']).head(5))

         Date  Temperature  Revenue
0    7/1/2016           70    41.00
1    7/2/2016           72    41.25
6    7/6/2016           82    43.00
5    7/6/2016           82    43.00
31  7/31/2016           82    43.05

In [144]:
lemonade[['Date', 'Temperature', 'Revenue']].sort_values(by=['Temperature','Revenue'],ascending=[True,False]).head(5)

         Date  Temperature  Revenue
20  7/20/2016           70    56.50
0    7/1/2016           70    41.00
2    7/3/2016           71    46.75
1    7/2/2016           72    41.25
16  7/16/2016           74    65.50

## Group by

In [169]:
df= lemonade.groupby('Location').count()
print(df)
print(type(df))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f6449cb2110>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [168]:
lemonade.groupby('Location')[['Date','Lemon']].count()

          Date  Lemon
Location
Beach       16     17
Park        15     15

In [148]:
df[['Date','Lemon']]

          Date  Lemon
Location
Beach       16     17
Park        15     15

In [149]:
print(df.loc['Beach',['Date','Lemon']])

Date     16
Lemon    17
Name: Beach, dtype: int64

In [157]:
lemonade.groupby('Location')['Revenue'].agg([max,min,sum])

            max   min     sum
Location
Beach      95.5  43.0  1002.8
Park      134.5  41.0  1178.2

In [162]:
lemonade.groupby(['Location','Price'])[['Revenue','Sold','Temperature']].agg([max,min,sum,np.mean])

               Revenue                          Sold                         \
                   max    min    sum       mean  max  min   sum        mean
Location Price
Beach    0.25    70.50  43.00  668.0  55.666667  282  172  2672  222.666667
         0.35    50.75  43.05   93.8  46.900000  145  123   268  134.000000
         0.50    95.50  65.50  241.0  80.333333  191  131   482  160.666667
Park     0.25    46.75  41.00  129.0  43.000000  187  164   516  172.000000
         0.35   106.75  55.65  280.7  70.175000  305  159   802  200.500000
         0.50   134.50  56.50  768.5  96.062500  269  113  1537  192.125000

               Temperature
                       max min  sum       mean
Location Price
Beach    0.25           84  76  965  80.416667
         0.35           82  82  164  82.000000
         0.50           77  74  226  75.333333
Park     0.25           72  70  213  71.000000
         0.35           83  80  326  81.500000
         0.50           84  70  633  79.125000